
.scrollspySite{
    position: relative;
    overflow: auto;
    height: 380px;
}

body {
    padding-top: 200px;
}

@media (min-width: 768px) {
    body {
        padding-top: 10px;
    }
}

#tituloform{
    font-size: 18pt;   
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    height: auto;
    display: flex;
    outline: none;        
}

#drop1 {
    padding: 2%;
    width: 100%;
    margin-bottom: 10%;
    height: auto;
    border-width: 1px;                            
    align-content: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px grey;
}

#painelDir {
    background-color: green;
    width: 100%;
    height: 100%;
    position: fixed;
}

hr {
    background-color: rgb(103, 58, 183);
}

#titulo {
    text-align: center;
    margin-bottom: 5%;    
}

.botao{
    margin: 2px;            
    position: relative;           
    top: 50%;   
}


#tituloform {
   color: rgb(103, 58, 183);
   font-weight: bold;
   font-size: 20pt;
}

#paleta {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}

.op {
    position: relative;
    float: left;
}

#menu-vertical{
    position:fixed;
    z-index:999;        
    overflow:hidden;            
    padding:6px;
}

#principal{
    margin:0 auto;   
}

.botaoSalvar{
    margin-left: 50% ;
    position: relative;
}

.novaPergunta {
    font-size: 16pt;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: bold;    
}

.novaResposta {
    font-size: 14pt;           
    font: bold;
    color:black;
}

input {
    border: 0;
    margin: 2px;
}

text {
    width:100%;
}